In [1]:
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv(r"E:\sugi\sem6\machine learning\datasets\Covid Data.csv")

In [3]:
df

,MEDICAL_UNIT,SEX,PATIENT_TYPE,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,RESULTS
0,1,Female,Returned Home,1,65,2,2,2,2,1,2,2,2,2,2,Positive
1,1,Male,Returned Home,1,72,2,2,2,2,1,2,2,1,1,2,Negative
2,1,Male,Hosptilized,2,55,1,2,2,2,2,2,2,2,2,2,Positive
3,1,Female,Returned Home,2,53,2,2,2,2,2,2,2,2,2,2,Negative
4,1,Male,Returned Home,2,68,1,2,2,2,1,2,2,2,2,2,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,3,Female,Returned Home,2,8,2,2,2,2,2,2,2,2,2,2,Negative
9996,3,Female,Returned Home,2,3,2,2,2,2,2,2,2,2,2,2,Negative
9997,3,Male,Returned Home,2,45,2,2,2,2,1,2,2,2,1,2,Negative
9998,3,Female,Returned Home,2,32,2,2,2,2,2,2,2,2,2,2,Negative
9999,3,Female,Returned Home,2,60,2,2,2,2,2,2,2,1,2,2,Negative

In [4]:
df['SEX'] = df['SEX'].replace({'Male':0,'Female':1})

C:\Users\sugirdha\AppData\Local\Temp\ipykernel_13400\3367401909.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['SEX'] = df['SEX'].replace({'Male':0,'Female':1})

In [5]:
le = LabelEncoder()
encoded = le.fit_transform(df['RESULTS'])
encoded_type= le.fit_transform(df['PATIENT_TYPE'])

In [6]:
df['RESULTS'] = encoded
df['PATIENT_TYPE'] = encoded_type

In [7]:
X = df.drop('RESULTS', axis = 1)
y = df.RESULTS
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Support Vector

In [9]:
svm_classifier = SVC(kernel='linear')
svm_classifier.fit(X_train, y_train)
svm_predictions = svm_classifier.predict(X_test)

In [11]:
print("NAME: R U SUGIRDHA")
print("CB.SC.I5DAS21062")
print("SVM")
print("Accuracy:", accuracy_score(y_test, svm_predictions))
print("Precision :", precision_score(y_test, svm_predictions, average='weighted'))
print("Recall :", recall_score(y_test, svm_predictions, average='weighted'))
print("F1-Score :", f1_score(y_test, svm_predictions, average='weighted'))

NAME: R U SUGIRDHA
CB.SC.I5DAS21062
SVM
Accuracy: 0.884
Precision : 0.875121243523316
Recall : 0.884
F1-Score : 0.8528409750139941

Decision Tree

In [12]:
dt_classifier = DecisionTreeClassifier()
dt_classifier.fit(X_train, y_train)
dt_predictions = dt_classifier.predict(X_test)

In [13]:
print("NAME: R U SUGIRDHA")
print("CB.SC.I5DAS21062")
print("DECISION TREE")
print("Accuracy:", accuracy_score(y_test, dt_predictions))
print("Precision :", precision_score(y_test, dt_predictions, average='weighted'))
print("Recall :", recall_score(y_test, dt_predictions, average='weighted'))
print("F1-Score :", f1_score(y_test, dt_predictions, average='weighted'))

NAME: R U SUGIRDHA
CB.SC.I5DAS21062
DECISION TREE
Accuracy: 0.832
Precision : 0.8090202965978481
Recall : 0.832
F1-Score : 0.818788578561398

Naive Bayes

In [14]:
nb_classifier = GaussianNB()
nb_classifier.fit(X_train, y_train)
nb_predictions = nb_classifier.predict(X_test)

In [15]:
print("NAME: R U SUGIRDHA")
print("CB.SC.I5DAS21062")
print("NAIVE BAYES")
print("Accuracy:", accuracy_score(y_test, nb_predictions))
print("Precision :", precision_score(y_test, nb_predictions, average='weighted'))
print("Recall :", recall_score(y_test, nb_predictions, average='weighted'))
print("F1-Score :", f1_score(y_test, nb_predictions, average='weighted'))

NAME: R U SUGIRDHA
CB.SC.I5DAS21062
NAIVE BAYES
Accuracy: 0.8805
Precision : 0.8635962881258995
Recall : 0.8805
F1-Score : 0.8516655648259853

Random Forest Classifier

In [16]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
rf_predictions=rf.predict(X_test)

In [17]:
print("NAME: R U SUGIRDHA")
print("CB.SC.I5DAS21062")
print("RANDOM FOREST")
print("Accuracy:", accuracy_score(y_test, rf_predictions))
print("Precision :", precision_score(y_test, rf_predictions, average='weighted'))
print("Recall :", recall_score(y_test, rf_predictions, average='weighted'))
print("F1-Score :", f1_score(y_test, rf_predictions, average='weighted'))

NAME: R U SUGIRDHA
CB.SC.I5DAS21062
RANDOM FOREST
Accuracy: 0.86
Precision : 0.8300951522435898
Recall : 0.86
F1-Score : 0.8374175813539309